html,body{
  background-color: #222;
  padding:0;
  margin: 0;
  height:100%;
  width: 100%;
}

canvas{
  outline: none;
  background: transparent;
  max-width:100%;
  height: auto !important;
}

#app{
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}